body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #111;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.daftar {
  background: #22c55e;
}
